@{
    ViewData["Title"] = "Home Page";
}



<div>
    <!-- Image and text -->
    <img src="https://cdnimg.webstaurantstore.com/images/articles/52/bakery_business_plan_header.jpg" width="100%" height="400" alt="Cover">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
